

.title {
  display: inline-flex;
  align-items: center;
  gap: var(--num-m2);
  text-decoration: none;
  z-index: 1;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--num-m12);
  height: var(--num-m12);
  padding: var(--num-m2);
  fill: var(--color-text1);
}

.fullName {
  font-family: var(--display-text);
  font-weight: 315;
  font-size: var(--h1-size);
  text-align: center;
}