

.title {
  display: inline-flex;
  align-items: center;
  gap: var(--num-m2);
  text-decoration: none;
  z-index: 1;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--num-m12);
  height: var(--num-m12);
  padding: var(--num-m2);
  fill: var(--col-text1);
}

.fullName {
  color: var(--col-text1) !important;
  font-size: 33px;
  font-weight: 315;
  text-align: center;
}