@import "../../vars.css";

.mainMenu {
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    transition: var(--trans-hamburgerMenu);
    overflow: hidden;

    &.mobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        &.menuOpened {
            padding: 6px;
            margin: -6px;
            border-radius: var(--number-cornerRadius);
            background: var(--color-link);
            box-shadow: var(--effect-poolShadow);
            z-index: 5;
        }
    }
}