.slidesContainer {
  perspective: 100vw;
  width: 100%;
  height: 100%;
}

.mediaContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.35));

  transition: scale 5s ease-in-out;
}

.mediaContainer.flipping {
  transition: transform var(--flip-duration) var(--flip-timing);
}



.mediaContent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
}

/* .frame {
  position: absolute;
  inset: 0;
  border: 8px solid #78350F;
  border-radius: 0.5rem;
  backface-visibility: hidden;
  pointer-events: none;
} */

/* Current and next slide containers */
.slideWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* backface-visibility: hidden; */
}

.currentSlide {
  transform: rotateY(0deg);
}

.nextSlide {
  transform: rotateY(180deg);
}

.loadingState {
  width: 100%;
  height: 100%;
  inset: 0;  /* This is shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}