/**
 * ContactItem.module.css
 * ====================
 * 
 * Styles for the ContactIcon component featuring:
 * - Responsive layouts for Desktop and Mobile
 * - Interactive hover and active states
 * - Smooth transitions for all interactions
 * - Dynamic label visibility
 */

/* Base styles
  ========== */
.contactIcon {
  align-items: center;
  flex-direction: column;
  max-width: var(--num-m8);
}

/* Link styles
  ========== */
.contactIcon a {
  transform: scale(100%);
  transition: var(--menuControl-hover);
}

/* Label styles
  =========== */
.contactIcon span {
color: var(--col-ui-nav1);
text-align: center;
transition: var(--menuControl-hover);
}

/* Desktop layout
  ============= */
.contactIcon.Desktop {
  display: flex;
  justify-content: flex-start;
  gap: var(--num-m2);
}

.contactIcon.Desktop span {
  opacity: 0;
  /* max-width: 6rem; */
}

/* Mobile layout
  ============ */
.contactIcon.Mobile {
  display: inline-flex;
  justify-content: center;
}

.contactIcon.Mobile span {
  display: none;
  /* max-width: 4.5rem; */
}

/* Interactive states
  ================= */
.contactIcon:hover span {
  opacity: 1;
  color: var(--col-ui-nav2-hover);
}

.contactIcon:active a {
  transform: scale(92%);
  transition: var(--menuControl-active);
}

.contactIcon:active span {
  opacity: 1;
  color: var(--col-ui-nav2-active);
  transition: var(--menuControl-active);
}






.contactBook {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--num-brd-radius);
  overflow: hidden;
  background: var(--col-ui-nav1);
  box-shadow: var(--fx-boxShadow1);
  transition: var(--menuControl-hover);
  
  min-width: var(--num-m12);
  gap: var(--num-m2);
}

.contactBook .spine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--col-ui-nav2);
  transition: inherit;
  height: var(--num-m8);

  &.top, &.bottom {
    width: var(--num-m12);
    padding: var(--num-m2);
  }

  &.middle {
    min-width: var(--num-m20);
    min-height: auto;
    padding: var(--num-m2) var(--num-m4);
  }
}

.contactBook:hover {
  background: var(--col-ui-nav1-hover);

  .spine {
    background: var(--col-ui-nav2-hover);
  }
}

.contactBook:active {
  background: var(--col-ui-nav1-active);
  transition: var(--menuControl-active);

  .spine {
    background: var(--col-ui-nav2-active);
    transition: inherit;
  }
}

.spine.top > *,
.spine.bottom > * {
  transform: rotate(-90deg);
}

.spine.middle span {
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  color: var(--col-ui-nav1)
}

@media (max-aspect-ratio: 1/1) {
  .contactBook {
    flex-direction: column;
  }

  .contactBook .spine {
    width: var(--num-m12);

    &.top, &.bottom {
      height: var(--num-m12);
      padding: var(--num-m2);
    }

    &.middle {
      min-width: var(--num-m8);
      min-height: var(--num-m20);
      height: fit-content;
      padding: var(--num-m4) var(--num-m2); 
    }
  }
  
  .spine.top > *,
  .spine.bottom > * {
    transform: none;
  }

  .spine.middle span {
    transform: none;
    white-space: nowrap;
    writing-mode: vertical-lr; /* Use this for vertical text */
    text-orientation: mixed;
  }
}