@import '../../../vars.css';

.menu {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    &.mobile {
        height: 36px;
    }

    &.desktop {
        height: 48px;
        
        .wrapper.menuOpened {
            z-index: 5;
            padding: 8px;
            margin: -8px;
            border-radius: var(--number-cornerRadius);
            background: var(--color-link);
            box-shadow: var(--effect-poolShadow);
            transition: var(--opening-dropdown);

            .submenu {
                transition: var(--closing-dropdown);
            }
        }
    }
}

.wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--closing-dropdown); /* Controls the color */
}


.submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: fill-box;
    height: 0;
    transition: var(--opening-dropdown); /* Controls the height */
}