/**
 * Contact.module.css
 * ================
 * 
 * Styles for contact page featuring:
 * - Responsive hero section
 * - Platform showcase layout
 * - Interactive bookshelf display
 * - Mobile-optimized layout
 */

/* Main Container
   ============= */
   .Contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: var(--num-m20);
    gap: var(--num-m20);

    &.mobile {
      padding-left: max(env(safe-area-inset-left), var(--num-m4));
      padding-right: max(env(safe-area-inset-right), var(--num-m4)) 
    }
  }
  
  /* Hero Section
     =========== */
  .heroSection {
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding-top: var(--num-m8);
    gap: var(--num-m8);
    align-items: center;
    justify-content: center;
  }
  
  .heroSection .heroContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--num-m8);
  }
  
  .heroSection .heroMedia {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  /* Typography
     ========= */
  /* .headline {
    font-family: var(--font-libreBaskerville);
    font-size: var(--hero-headline-size);
    text-transform: capitalize;
  }
  
  .tagline {
    font-size: var(--hero-tagline-size);
    line-height: normal;
  } */
  
  /* Platforms Section
     ================ */
  .platformsSection {
    display: flex;
    width: 100%;
    max-width: 1280px;
    gap: var(--num-m8);
    justify-content: center;
    align-items: center;
  }
  
  .platformsSection > .platformsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--num-m8);
    width: 100%;
  }
  
  .platformsSection > .platformsMedia {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }
  
  /* Bookshelf Layout
     =============== */
  .platformsMedia > .bookshelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--num-m2)
  }
  
  /* Responsive Adjustments
     ==================== */
  @media (max-aspect-ratio: 1/1) {
    .headline,
    .tagline {
      text-align: center;
    }
  
    .heroSection,
    .platformsSection {
      flex-direction: column;
    }
  
    .platformsSection > .platformsContent {
      justify-content: center;
      align-items: center;
      align-self: stretch;
    }
  
    .platformsMedia > .bookshelf {
      flex-direction: row;
      width: 100%;
    }
  }