/**
* Color styles
*
*
*
* @requires variables.css - Contains color and font family variables
*/

@import './variables.css';

/* 
* Root Color Variables (col)
*/
:root {
  /* Body */
  --col-text1: var(--swt-midnight);
  --col-link1: var(--swt-cobalt);
  --col-link1-hover: var(--swt-aquamarine);
  --col-link1-active: var(--swt-deepReef);
  --col-link2: var(--swt-amethyst);
  --col-link2-hover: var(--swt-orchid);
  --col-link2-active: var(--swt-pinotNoir);
  --col-error1: var(--swt-magaflower);
  --col-background1: var(--swt-sand);
  --col-background2: var(--swt-desertStone);
  --col-frame1: var(--swt-duneCrest);
  
  /* User Interface */
  --col-ui-text1: var(--swt-seaweed);
  --col-ui-link1: var(--swt-sand);
  --col-ui-link1-hover: var(--swt-duneCrest);
  --col-ui-link1-active: var(--swt-desertStone);
  --col-ui-link2: var(--swt-cobalt);
  --col-ui-link2-hover: var(--swt-aquamarine);
  --col-ui-link2-active: var(--swt-deepReef);
  --col-ui-background1: var(--swt-cobalt);
  --col-ui-background1-hover: var(--swt-aquamarine);
  --col-ui-background1-active: var(--swt-deepReef);
  --col-ui-background2: var(--swt-sand);
  --col-ui-background2-hover: var(--swt-duneCrest);
  --col-ui-background2-active: var(--swt-desertStone);
  --col-ui-background3: var(--swt-amethyst);
  --col-ui-background3-hover: var(--swt-orchid);
  --col-ui-background3-active: var(--swt-pinotNoir);
  
  /* Pointer */
  --col-pointer-stroke: var(--swt-midnight);
  --col-pointer-fill: var(--swt-sand);
  --col-pointer-fill-hover1: var(--swt-celeste);
  --col-pointer-fill-hover2: var(--swt-lilac);
}

h1, h2, h3, h4,
p, li, tr, td, figcaption {
  &.text1 { color: var(--col-text1); }
}

span {
  &.ui-text1 { color: var(--col-ui-text1); }
}

a {
  &.link1 {
    color: var(--col-link1);

    &:hover { color: var(--col-link1-hover); }

    &:active { color: var(--col-link1-active); }
  }

  &.link2 {
    color: var(--col-link2);

    &:hover { color: var(--col-link2-hover); }

    &:active { color: var(--col-link2-active); }
  }

  &.ui-link1 {
    color: var(--col-ui-link1);

    &:hover { color: var(--col-ui-link1-hover); }

    &:active { color: var(--col-ui-link1-active); }
  }

  &.ui-link2 {
    color: var(--col-ui-link2);

    &:hover { color: var(--col-ui-link2-hover); }

    &:active { color: var(--col-ui-link2-active); }
  }
}

div, section, article {
  &.background1 {

  }

  &.background2 {

  }
}

nav, button {
  &.ui-background1 {


    &:hover: {

    }

    &:active {

    }
  }

  &.ui-background2 {


    &:hover: {

    }

    &:active {

    }
  }
}