
@import "./typography.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", "Arial", "Helvetica Neue", "Sans-serif";
  cursor: var(--cursor-style, none);
}

/* iframe {
  pointer-events: none;
} */

html {
  overscroll-behavior-y: none;
}

/* Reset button styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

/* External Context Container
   ========================
   Handles styling for embedded external content
   such as iframes and objects.
   Provides safe area insets for mobile devices. */
.external-context {
  position: relative;
}

.external-context::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.external-context.Desktop::before {
  padding: 1.5rem;

}

.external-context.Mobile::before {
  /* Use safe area insets for mobile devices */
  padding: 0.8rem 
      max(env(safe-area-inset-right), 0.8rem) 
      0.8rem 
      max(env(safe-area-inset-left), 0.8rem);
  /* margin: -0.5rem 
      max(env(safe-area-inset-right), -0.5rem) 
      -0.5rem 
      max(env(safe-area-inset-left), -0.5rem); */
}