/**
* Typography Styles
* 
* This file defines the core typography styles for the application.
* It works in conjunction with Typography.jsx to create a responsive type system.
*
* @file typography.css
* @requires variables.css - Contains color and font family variables
*/

@import './variables.css';

/* 
* Root Typography Variables
*/
:root {
  --tf-heading: var(--tf-libreBaskerville);
  --tf-body: var(--tf-notoSans);
  --tf-user-interface: var(--tf-outfit);
}

.sr-only {
  display: none;
}

a {
  /* font-family: var(--tf-body); */
  color: var(--color-link);
  transition: var(--menuControl-hover);

  &:hover { color: var(--color-link-hover) }

  &:active { 
    color: var(--color-link-active);
    transition: var(--menuControl-active);
  }
}

.action {
  font-family: var(--tf-body);
  font-size: inherit;
  color: var(--color-action);
  transition: var(--menuControl-hover);
  text-decoration: underline dotted;

  &:hover { color: var(--color-action-hover) }

  &:active { 
    color: var(--color-action-active);
    transition: var(--menuControl-active);
  }
}

h1.heading1, h2.heading2,
h3.heading3, h4.heading4 {
  color: var(--color-text1);
  font-family: var(--tf-heading);
  font-style: normal;

  /* Headings are bold by default */
  font-weight: 700;

  /* No italic for heading text */
}

h1.heading1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

h2.heading2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}

h3.heading3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

h4.heading4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}


p, li, tr, td, figcaption {
  &.body1, &.body2, &.body3 {
    color: var(--color-text1);
    font-family: var(--tf-body);
    font-style: normal;
  
    a {
      font-family: inherit;
      font-style: underline;
    }
  
    b {
      font-family: inherit;
      font-weight: 700;
    }
  
    i {
      font-family: inherit;
      font-style: italic;
    }
  }

  &.body1 {
    font-size: var(--fs-b1);
    line-height: var(--lh-b1);
  }

  /* Base size for body */
  &.body2{
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);
  }

  &.body3 {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
  }
}

span {
  &.user-interface1, &.user-interface2,
  &.user-interface3, &.user-interface4 {
    font-family: var(--tf-user-interface);
    font-style: normal;
  
    /* The bold for user interface text is medium weight. */
    b {
      font-family: inherit;
      font-weight: 500; 
    }
  
    /* No italic for user interface text. */
  }
  
  &.user-interface1 {
    font-size: var(--fs-ui1);
    line-height: var(--lh-ui1);
  }
  
  &.user-interface2 {
    font-size: var(--fs-ui2);
    line-height: var(--lh-ui2);
  }
  
  /* Base size for UI */
  &.user-interface3 { 
    font-size: var(--fs-ui3);
    line-height: var(--lh-ui3);
  }
  
  &.user-interface4 {
    font-size: var(--fs-ui4);
    line-height: var(--lh-ui4);
  }
}