/**
* Typography Styles
* 
* This file defines the core typography styles for the application.
* It works in conjunction with Typography.jsx to create a responsive type system.
*
* @file typography.css
* @requires variables.css - Contains color and font family variables
*/

@import './variables.css';

/* 
* Root Typography Variables
*/
:root {
  --tf-heading: var(--tf-libreBaskerville);
  --tf-body: var(--tf-notoSans);
  --tf-user-interface: var(--tf-outfit);
}

.sr-only {
  display: none;
}

/* 
* Shared Heading Styles
* Applied to all heading levels for consistency
*/
/* h1, h2, h3 {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-text1);
} */

/* 
* Individual Heading Styles
* Font sizes are set via CSS variables from Typography.jsx context
*/
/* h1 {
  font-family: var(--tf-heading);
  text-transform: capitalize;
  font-size: var(--h1-size);
  color: var(--color-text1);
}

h2 {
  font-family: var(--tf-heading);
  font-size: var(--h2-size);
  color: var(--color-text1);
}

h3 {
  font-family: var(--tf-heading);
  font-size: var(--h3-size);
  color: var(--color-text1);
} */

/* 
* Inline Text Elements
* Used for spans and labels that appear inline with other content
*/
/* span, label {
  font-family: var(--tf-body);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: var(--inline-size);
  color: var(--color-text1);
} */

/* 
* Paragraph Text
* Used for body copy with fixed size regardless of screen size
*/
/* p {
  font-family: var(--tf-body);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  color: var(--color-text1);
} */

a {
  /* font-family: var(--tf-body); */
  color: var(--color-link);
  transition: var(--menuControl-hover);

  &:hover { color: var(--color-link-hover) }

  &:active { 
    color: var(--color-link-active);
    transition: var(--menuControl-active);
  }
}

.action {
  font-family: var(--tf-body);
  font-size: inherit;
  color: var(--color-action);
  transition: var(--menuControl-hover);
  text-decoration: underline dotted;

  &:hover { color: var(--color-action-hover) }

  &:active { 
    color: var(--color-action-active);
    transition: var(--menuControl-active);
  }
}

h1.heading1, h2.heading2,
h3.heading3, h4.heading4 {
  color: var(--color-text1);
  font-family: var(--tf-heading);
  font-style: normal;

  b {
    font-family: inherit;
    font-weight: 700;
  }

  /* No italic for heading text */
}

h1.heading1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

h2.heading2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}

h3.heading3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

h4.heading4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}



p.body1, p.body2, p.body3 {
  color: var(--color-text1);
  font-family: var(--tf-body);
  font-style: normal;

  a {
    font-family: inherit;
    font-style: underline;
  }

  b {
    font-family: inherit;
    font-weight: 700;
  }

  i {
    font-family: inherit;
    font-style: italic;
  }
}

p.body1 {
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
}

/* Base size for body */
p.body2 {
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
}

p.body3 {
  font-size: var(--fs-b3);
  line-height: var(--lh-b3);
}

span.user-interface1, span.user-interface2,
span.user-interface3, span.user-interface4 {
  font-family: var(--tf-user-interface);
  font-style: normal;

  /* The bold for user interface text is medium weight. */
  b {
    font-family: inherit;
    font-weight: 500; 
  }

  /* No italic for user interface text. */
}

span.user-interface1 {
  font-size: var(--fs-ui1);
  line-height: var(--lh-ui1);
}

span.user-interface2 {
  font-size: var(--fs-ui2);
  line-height: var(--lh-ui2);
}

/* Base size for UI */
span.user-interface3 { 
  font-size: var(--fs-ui3);
  line-height: var(--lh-ui3);
}

span.user-interface4 {
  font-size: var(--fs-ui4);
  line-height: var(--lh-ui4);
}