/* @import "./reset.css"; */

:root {
    /* Colors */
    --color-text1: #00052b; /* Midnight */
    --color-text2: #202C22; /* Seaweed */
    --color-heading1: #4a2512; /* Mahogany */
    
    --color-link: #0047ab; /* Cobalt */
    --color-link-hover: #00a9ce; /* Sea & Sky */
    --color-link-active: #007a99; /* Deep Reef */

    --color-action: #7b1fa2; /* Amethyst */
    --color-action-hover: #ab47bc; /* Bright Orchid */
    --color-action-active: #4e1953; /* Pinot Noir */

    --color-bg1: #ece9e4; /* Sand */
    --color-bg1-hover: #f7f5f2; /* Dune Crest */
    --color-bg1-active: #dcd8d1; /* Desert Stone */

    --color-error: #d6111b; /* Brave Blood */

    --color-pointer-link: #b2ffff; /* Celeste */
    --color-pointer-action: #dc9ba3; /* Lilac */

    --matcha: #98c187;

    /* Fonts */
    --font-outfit: "Outfit Variable", sans-serif;
    --font-baskervvilleSC: "Baskervville SC";
    --font-libreBaskerville: 'Libre Baskerville';
    --font-notoSans: "Noto Sans Variable", sans-serif;

    /* Numbers */
    --number-cornerRadius: 3px;
    --num-dotSize: 3px;
    --num-cellSize: 16px;

    /* Effects */
    --effect-poolShadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5) inset;
    --fx-cardShadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.25);
    --fx-blockShadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.50);
    --fx-textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --fx-boxShadow1: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --fx-depthShadow1: 0px 0px 48px 16px rgba(0, 0, 0, 0.5) inset;
    
    /* Animations */
    --trans-hover: all 150ms ease;
    --trans-active: all 50ms ease;
    --trans-hamburgerMenu: all 350ms cubic-bezier(0.22, 1, 0.36, 1);
    --opening-dropdown: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
    --closing-dropdown: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
    --menuControl-hover: all 350ms cubic-bezier(0.21, 0.65, 0.32, 0.89);
    --menuControl-active: all 100ms ease;
    --anim-splash: cubic-bezier(0.4, 0, 0.2, 1);
    --trans-develop: filter 3.5s cubic-bezier(0.7, 0, 0.3, 1);

    /* Waves-Style Button */
    --trans-tide: 800ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
    --anim-drift: 8000ms infinite linear;
}