:root {

  /* Font Families (ff) */
  --ff-libreBaskerville: "Libre Baskerville", serif;
  --ff-notoSans: "Noto Sans Variable", sans-serif;
  --ff-outfit: "Outfit Variable", sans-serif;

  /* [Desktop] Font Sizes (fs) */
  /* Updated based on deviceContext in ./contexts/Typescales.jsx */
  --fs-h1: 3.051875rem;
  --fs-h2: 2.44125rem;
  --fs-h3: 1.953125rem;
  --fs-h4: 1.5625rem;
  --fs-b1: 1.25rem;
  --fs-b2: 1rem;
  --fs-b3: 0.8rem;
  --fs-ui1: 1.953125rem;
  --fs-ui2: 1.5625rem;
  --fs-ui3: 1.25rem;
  --fs-ui4: 1rem;

  /* [Desktop] Line Heights (lh) */
  /* Updated based on deviceContext in ./contexts/Typescales.jsx */
  --lh-h1: 3.625rem;
  --lh-h2: 3.25rem;
  --lh-h3: 2.75rem;
  --lh-h4: 2.1875;
  --lh-b1: 1.75rem;
  --lh-b2: 1.5rem;
  --lh-b3: 1.3125rem;
  --lh-ui1: 2.4375rem;
  --lh-ui2: 2.0625rem;
  --lh-ui3: 1.75;
  --lh-ui4: 1.625rem;

  /* Swatches (swt) */
  --swt-amethyst: #7b1fa2;
  --swt-aquamarine: #00a9ce;
  --swt-celeste: #b2ffff;
  --swt-cobalt: #0047ab;
  --swt-deepReef: #007a99;
  --swt-desertStone: #dcd8d1;
  --swt-duneCrest: #f7f5f2;
  --swt-lilac: #dc9ba3;
  --swt-magaflower: #d6111b;
  --swt-mahogany: #4a2512;
  --swt-matcha: #98c187;
  --swt-midnight: #00052b;
  --swt-orchid: #ab47bc;
  --swt-pinotNoir: #4e1953;
  --swt-sand: #ece9e4;
  --swt-seaweed: #202c22;

  /* [Desktop] Margins (m) */
  /* Updated based on deviceContext in ./contexts/Margins.jsx */
  --num-m1: 4px;
  --num-m2: 8px;
  --num-m3: 12px;
  --num-m4: 16px;
  --num-m8: 32px;
  --num-m12: 48px;
  --num-m20: 80px;
  --num-m32: 128px;
  
  /* Numbers (num) */
  --num-brd-width: 2px;
  --num-brd-radius: 2px;
  --num-dotSize: 3px;
  --num-cellSize: 16px;
  
  /* Effects */
  --effect-poolShadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5) inset;
  --fx-cardShadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.25);
  --fx-blockShadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.50);
  --fx-textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --fx-boxShadow1: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --fx-depthShadow1: 0px 0px 48px 16px rgba(0, 0, 0, 0.5) inset;
  
  /* Animations */
  --trans-hover: all 150ms ease;
  --trans-active: all 50ms ease;
  --trans-hamburgerMenu: all 350ms cubic-bezier(0.22, 1, 0.36, 1);
  --opening-dropdown: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
  --closing-dropdown: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
  --menuControl-hover: all 350ms cubic-bezier(0.21, 0.65, 0.32, 0.89);
  --menuControl-active: all 100ms ease;
  --anim-splash: cubic-bezier(0.4, 0, 0.2, 1);
  --trans-develop: filter 3.5s cubic-bezier(0.7, 0, 0.3, 1);

  /* Waves-Style Button */
  --trans-tide: 800ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --anim-drift: 8000ms infinite linear;
}