:root {
    /* Colors */
    --color-text1: #00052b; /* Midnight */
    --color-link: #0047ab; /* Cobalt */
    --color-link-hover: #00a9ce; /* Sea & Sky */
    --color-link-active: #007a99; /* Deep Reef */
    --color-bg1: #ece9e4; /* Sand */
    --color-bg1-hover: #f7f5f2; /* Dune Crest */
    --color-bg1-active: #dcd8d1; /* Desert Stone */

    --color-text2: #2b1b17; /* Ink */
    --color-bg2: #694d3c; /* Library Carpet */
    --color-bg2-overlay: #f5e6d3; /* Parchment */

    --matcha: #98c187;
    --celeste: #b2ffff;

    /* Fonts */
    --font-baskervvilleSC: "Baskervville SC";
    --font-libreBaskerville: 'Libre Baskerville';
    --font-notoSans: "Noto Sans Variable", sans-serif;

    /* Numbers */
    --number-cornerRadius: 0.15rem;
    --num-dotSize: 0.15rem;
    --num-cellSize: 1rem;

    /* Effects */
    --effect-poolShadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.25) inset;
    --fx-cardShadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.25);
    --fx-blockShadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.50);
    --fx-textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --fx-boxShadow1: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    
    /* Animations */
    --trans-hover: all 150ms ease;
    --trans-active: all 50ms ease;
    --trans-hamburgerMenu: all 350ms cubic-bezier(0.22, 1, 0.36, 1);
    --opening-dropdown: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
    --closing-dropdown: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
    --menuControl-hover: all 350ms cubic-bezier(0.21, 0.65, 0.32, 0.89);
    --menuControl-active: all 100ms ease;
}