:root {
  --bg-heroSection: linear-gradient(var(--color-bg1-hover), var(--color-bg1-active));
}

main.heroSection {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 5rem 5.55vw;
  gap: 5vw;
  align-items: center;
  background-image: var(--bg-heroSection);
}

main > .heroContent {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
  flex-shrink: 0;
}

main > .heroMedia {
  flex: 1;
  height: 70vh;
}

.heroContent .headline {
  font-family: var(--font-baskervville);
  font-size: 4.5vw;
}

.heroContent .tagline {
  font-size: 1.85vw;
  line-height: normal;
}

.ctaMenu {
  display: flex;
  align-items: center;
  gap: 1.85vw;
}