.scrollAnchor {
  position: fixed;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: var(--num-m12);
  height: var(--num-m12);
  z-index: 50;
  pointer-events: auto;
  
  &.Desktop {
    bottom: var(--num-m4);
    right: var(--num-m4);
  }
  
  &.Mobile {
    bottom: max(env(safe-area-inset-bottom), var(--num-m4));
    right: max(env(safe-area-inset-right), var(--num-m4));
  }
}

.svg {
  transform: scale(100%);
  transition: var(--menuControl-active);

  &:active { transform: scale(92%); }
}
