.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: env(safe-area-inset-top);  /* Handle notch */
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateY(0);
  transition: transform 0.35s ease;


  &.hidden {
    transform: translateY(calc(-100% - env(safe-area-inset-top)));
  }

  &.Desktop {
    height: 5rem;
    padding: 1rem;  /* Desktop keeps normal padding since it won't have safe areas */

  }

  &.Mobile {
    height: 4rem;
    padding: 
      0.8rem 
      max(env(safe-area-inset-right), 0.8rem) 
      0.8rem 
      max(env(safe-area-inset-left), 0.8rem);
    /* Keep vertical padding as is, but respect safe areas on sides */
  }
}