.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--num-m20);
  padding: 
    var(--num-m4)
    max(env(safe-area-inset-right), var(--num-m4))
    var(--num-m4)
    max(env(safe-area-inset-right), var(--num-m4));
  top: env(safe-area-inset-top);  /* Handle notch */
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateY(0);
  transition: transform 0.35s ease;


  &.hidden {
    transform: translateY(calc(-100% - env(safe-area-inset-top)));
  }
}