@import "../../vars.css";

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: env(safe-area-inset-top);  /* Handle notch */
  left: 0;
  z-index: 10;

  &.Desktop {
    height: 5rem;
    padding: 1rem;  /* Desktop keeps normal padding since it won't have safe areas */
  }

  &.Mobile {
    height: 4rem;
    padding: 
      0.8rem 
      max(env(safe-area-inset-right), 0.8rem) 
      0.8rem 
      max(env(safe-area-inset-right), 0.8rem) ;
    /* Keep vertical padding as is, but respect safe areas on sides */
  }
}

.background {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
  border-bottom: var(--number-cornerRadius) solid var(--color-bg1-active);
  background: var(--color-bg1);
  opacity: 0;
}