.contactSection {
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  align-self: stretch;
  perspective: 1000px;
}

.contactSection .heading {
  z-index: 1;
  
  &.Mobile { font-size: 1.875rem; }
  
  &.Desktop {font-size: 2.5rem; }
}

.contactSection .contactArticle {
  display: flex;
  width: 100%;
  max-width: 45rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: center;
  
  border-radius: var(--number-cornerRadius);
  background: var(--color-bg1-hover);
  box-shadow: var(--fx-boxShadow1);

  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.8s;
}

.contactSection .contactArticle.flipped {
  transform: rotateY(180deg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
  backface-visibility: hidden;
}

.formContent {

}

.taglineContainer {
  display: flex;
  max-width: 30rem;
}

.taglineContainer span {
  text-align: center;
  font-family: var(--font-libreBaskerville);

  &.Mobile {font-size: 1.125rem; }

  &.Desktop { font-size: 1.1875rem; }
}

.formContent .ctaMenu {
  display: flex;
  justify-content: flex-end;
}

.contactMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  background: var(--color-bg1-hover);
  border-radius: var(--number-cornerRadius);
  justify-content: center;

  gap: 0.5rem;
  padding: 2rem;

  &.Mobile { 
    svg {
      width: 12rem;
      height: 12rem;
    }
  }

  &.Desktop { 
    svg {
      width: 16rem;
      height: 16rem;
    }
  }
}
