.projectsSection {
  display: flex;
  justify-content: center;
  align-self: stretch;

  /* background: var(--color-bg2); */
}

.featuredWorks {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* transform: translateY(-2.5rem); */
  
  /* &.desktopCard::before,
  &.mobileBanner::before {
    content: '';
    position: absolute;
    width: calc(100% - 20rem);
    height: 100%;
    border-radius: var(--number-cornerRadius);
    background: var(--color-bg2-overlay);
    box-shadow: var(--fx-blockShadow);
  }

  &.mobileCard::before {
    content: '';
    position: absolute;
    width: calc(100% - 7.5rem);
    height: 100%;
    border-radius: var(--number-cornerRadius);
    background: var(--color-bg2-overlay);
    box-shadow: var(--fx-blockShadow);
  } */
}

.heading {
  z-index: 1;
  color: var(--color-text2);
  
  &.Desktop {font-size: 2.5rem; }

  &.Mobile { font-size: 1.875rem; }
}

.projectArticles {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  &.desktopCard {
    gap: 2rem 5rem;
  }

  &.mobileCard {
    gap: 3.75rem 1.5rem;
  }

  &.mobileBanner {
    gap: 1.5rem;
  }
}