.projectsSection {
  display: flex;
  justify-content: center;
  align-self: stretch;

  /* background: var(--color-bg2); */
}

.featuredWorks {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* transform: translateY(-2.5rem); */
  
  /* &.desktopCard::before,
  &.mobileBanner::before {
    content: '';
    position: absolute;
    width: calc(100% - 20rem);
    height: 100%;
    border-radius: var(--number-cornerRadius);
    background: var(--color-bg2-overlay);
    box-shadow: var(--fx-blockShadow);
  }

  &.mobileCard::before {
    content: '';
    position: absolute;
    width: calc(100% - 7.5rem);
    height: 100%;
    border-radius: var(--number-cornerRadius);
    background: var(--color-bg2-overlay);
    box-shadow: var(--fx-blockShadow);
  } */
}

.heading {
  z-index: 1;
  /* color: var(--color-text1); */
  
  &.Desktop {font-size: 2.5rem; }

  &.Mobile { font-size: 1.875rem; }
}

.projectArticles {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  &.desktopCard {
    gap: 2rem 5rem;
  }

  &.mobileCard {
    gap: 3.75rem 1.5rem;
  }

  &.mobileBanner {
    gap: 1.5rem;
  }
}

.wavesButton{
  position: relative;
  display: flex;
  width: 18.75rem; /* 18.75rem = 300px, which is the smallest project article width*/
  justify-content: center;
  align-items: center;
  z-index: 0;
  text-decoration: none;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  border-radius: var(--number-cornerRadius);
  box-shadow: var(--fx-boxShadow1);
  transition: var(--menuControl-hover);
}

.wavesButton::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  z-index: -1;
  background-color: var(--color-link-hover);
}

.wavesButton .wave {
  opacity: 0.5;
  position: absolute;
  background-color: var(--color-link);
  border-radius: 70% 60% 75% 55% / 55% 75% 60% 70%;
  transition: scale var(--trans-tide);
  animation: drift var(--anim-drift);
}

.wavesButton span {
  font-family: var(--heading-text);
  text-align: center;
  text-transform: capitalize;
  color: var(--color-bg1-hover);
  z-index: 1;
}

.wavesButton:active {
  transition: var(--menuControl-active);
  transform: scale(92%);
}

.wavesButton:active::before {
  background-color: var(--color-link-active);
}

.wavesButton:active span {
  color: var(--color-bg1-active);
}

@keyframes drift {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

