

.burgershelf {
  display: block;
  width: 36px;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  transition: var(--trans-hover);
  .icon span { background-color: var(--color-link); }

  &:hover {
    .icon span { background-color: var(--color-link-hover); }
  }
  
  &:active {
    transition: var(--trans-active);
    .icon span { background-color: var(--color-link-active); }
  }
  
  &.open {
    width: calc(36px + 8px);
    height: 36px;
    padding: 8px;
    transition: var(--trans-hover);
    .icon span { background-color: var(--color-bg1); }

    &:hover {
      .icon span { background-color: var(--color-bg1-hover); }
    }
    
    &:active {
      transition: var(--trans-active);
      .icon span { background-color: var(--color-bg1-active); }
    }

    .icon {
      span {
        &.one { transform: rotate(-60deg) translate(-11px, -3px); }
        &.two { transform: rotate(-75deg) translate(0.5px, -0.25px); }
        &.three { transform: rotate(-90deg) translate(8px, 8px); }
      }
    }
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  span {
    display: block;
    width: 20px;
    height: 4px;
    margin-bottom: 4px;

    &:last-child { margin-bottom: 0px; }

    &.one, &.two, &.three {
      transform: rotate(0deg) translate(0px, 0px);
      transition: var(--trans-hamburgerMenu);
    }
  }
}


