/**
 * Resume.module.css
 * ===============
 * 
 * Styles for resume page featuring:
 * - Responsive hero section
 * - PDF downloader component
 * - Mobile-friendly layout adjustments
 * - Safe area insets for mobile
 */

/* Base Container
   ============= */
.Resume {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: var(--num-m20);
  gap: var(--num-m20);

  &.Mobile {
    padding-left: max(env(safe-area-inset-left), var(--num-m4));
    padding-right: max(env(safe-area-inset-right), var(--num-m4)) 
  }
}

/* Hero Section
    =========== */
.Resume .heroSection {
  display: flex;
  max-width: 80rem; /* 1280 px */
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  padding-top: var(--num-m20);
  gap: var(--num-m8);
}

/* Hero Content
    =========== */
.heroSection .heroContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--num-m8);
}

.headline {
  text-transform: capitalize;
}

/* Hero Media Section
    ================= */
.heroSection .heroMedia {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--num-m8);
}

/* PDF Downloader
    ============= */
.heroMedia .pdfDownloader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--num-m2);
}

/* Download Button
    ============== */
.heroButton {
  padding: var(--num-m3) var(--num-m8);
}

.heroButton::before {
  border-radius: var(--num-m1);
}

/* Resume Section
    ============= */
.Resume .resumeSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: stretch;
  padding: 0px var(--num-m20);

  &.mobile {
    padding-left: max(env(safe-area-inset-left), var(--num-m4));
    padding-right: max(env(safe-area-inset-right), var(--num-m4)) 
  }
}

/* Responsive Adjustments
    ==================== */
@media (max-aspect-ratio: 1/1) {
  .Resume .heroSection {
    flex-direction: column;
    align-items: center;
  }

  .heroSection .heroContent,
  .heroSection .heroMedia {
    justify-content: center;
    align-items: center;
  }

  .headline,
  .tagline {
    text-align: center;
  }

  .heroMedia .pdfDownloader {
    flex-direction: column-reverse;
    align-items: center;
  }
}