.Resume {
  width: 100%;
  height: 100%;
}

.Resume .heroSection {
  display: flex;
  width: 100%;
  /* max-width: 80rem; 1280px */
  justify-content: center;
  align-self: stretch;
  
  &.Desktop {
    padding: 5rem;
    gap: 2rem;
  }

  &.Mobile {
    padding: 4rem;
    gap: 1.5rem;
  }
}

.heroSection .heroContent {
  display: flex;
  width: 100%;
  max-width: calc(40rem - 1rem);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem; /* 24px = 1280px * 1.875% */
}

.headline {
  font-family: var(--font-libreBaskerville);
  font-size: var(--hero-headline-size);
  text-transform: capitalize;
}

.tagline {
  font-size: var(--hero-tagline-size);
  line-height: normal;
}

.heroSection .heroMedia {
  display: flex;
  width: 100%;
  max-width: calc(40rem - 1rem);
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem; /* 24px = 1280px * 1.875% */
}

.heroMedia .pdfDownloader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.pdfDownloader > span {
  font-size: 0.75rem;
}

.heroButton {
  padding: 0.75rem 1.5rem;
  font-size: var(--hero-cta-button-size);
}

.heroButton::before {
  border-radius: 0.25rem;
}

.Resume .resumeSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: stretch;

  &.Desktop {
    padding: 0rem 5rem;
  }

  &.Mobile {
    padding: 0rem max(env(safe-area-inset-right), 0.8rem) 0rem max(env(safe-area-inset-left), 0.8rem);
  }
}

@media (max-aspect-ratio: 1/1) {
  .Resume .heroSection {
    flex-direction: column;
    align-items: center;
  }

  .heroSection .heroContent,
  .heroSection .heroMedia {
    justify-content: center;
    align-items: center;
  }

  .headline,
  .tagline {
    text-align: center;
  }

  .heroMedia .pdfDownloader {
    flex-direction: column-reverse;
    align-items: center;
  }
}