.Home {
  width: 100%;
  height: 100%;
}

.contactSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--num-m20); 

  &.mobile {
    padding-left: max(env(safe-area-inset-left), var(--num-m4));
    padding-right: max(env(safe-area-inset-right), var(--num-m4)) 
  }
}